
.col-md-6{background-image: url(img/img4.jpg) }
.col-md-3{background-color: rgb(255,66,92);}
.dwn{color: black}

.body2{background-color: #fff2e6}
.img-rounded{background-color: #99ff66}

.carousel{
	background-color: white;
	margin-top: 20px;
}

.carousel .item img{
	margin: 0 auto;
}

.bs-example{
	margin: 20px;
}


.cover_page{
	background-color: black;
}
.cover_text{
	font-size: 65px;
}
.button_cover{
	background-color: #0066cc;
	border: none;
	padding: 10px 60px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 12px

}
.button_cover:hover {
	background: #0055cc;
}


/*Animation of the cover page*/
#container_cover{
	position: relative;
	-webkit-animation: mymove 5s ;
	animation: mymove 5s ;
}

@-webkit-keyframes mymove{
	from{bottom: 0px;}
	to{bottom: 700px;}
}
@keyframes mymove{
	from{bottom: 500px;}
	to{bottom:  50px;}
/*Eand of the animation of the cover page*/
